<div ng-include src="'views/nav/nav.html'"></div>

<div class="container">
    <div style="padding-top: 50px;" class="col-sm-8 col-sm-offset-2">
        <h2>Please enter an artist to search below</h2><br />
        <form ng-submit="filter(search)" class="form">
            <div class="input-group">
                <input ng-model="search" type="search" class="form-control" placeholder="Artist Name">
                  <span class="input-group-btn">
                        <a ng-click="filter(search)" class="btn btn-default"><i class="fa fa-search"></i></a>
                  </span>
            </div>
        </form>

        <ul class="event-list" ng-repeat="artist in artists">
            <li>
                <time ng-show="artist.img">
                    <img ng-show="artist.img" height="120" width="120" src="{{artist.img}}">
                </time>
                <div class="info">
                    <span class="title">
                            {{ artist.displayName }}
                    </span>

                    <ul>
                        <li><a class="btn btn-primary" href="#artistEvents/{{artist.id}}"><i class="fa fa-calendar-o"></i> Artists Events</a></li>
                        <li><a class="btn btn-info" href="{{artist.uri}}"><i class="fa fa-info-circle"></i> Songkick Profile</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        
    </div>
</div>