<div class="site-wrapper">

    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Hype</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li><a href="#home">Home</a></li>
                            <li><a href="#login">Login</a></li>
                            <li><a href="#register">Register</a></li>
                            <li><a href="#about">About</a></li>
                            <li class="active"><a href="#contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div>
                <h1>Contact</h1>
                <hr/>

                <p style="font-size:150%"> For any questions regarding this application, its features, or its uses please contact either of us below:</p>
                <ul> 
                    <li style="font-size:200%"> Matt Clamp: clamp.m@husky.neu.edu</li>
                    <li style="font-size:200%"> Jim Barry: JBarry465@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>
